:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(60deg, var(--verde-claro));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --verde-oscuro: #2e7d32; /*#81c784*/
  --verde-medio: #4caf50;  /*#4caf50*/
  --verde-claro: #ace2cd;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
