
/*esto es el css de register */
.input {
        width: 470px;
        height: 45px;
        border-radius: 17px;
        margin-top: -40px;
        font-size: 12px;
        border-color: #2fb166;
        border: 2px solid #72b874ff;
        outline: none;
}
